/* Blog Index (chiefly) */
ol.post-list {
  text-align: left;
  list-style-type: none;
  padding: 0px;
  width: 100%;
}

.post-list li {
  margin: auto;
  max-width: 30em;
  display: flex;
  justify-content: space-between;
}

.post-list a {
  display: block;
  box-sizing: border-box;
  flex-grow: 1;
  text-overflow: break-word;
}

.post-list time {
  padding-right: 0.2em;
  flex-grow: 0;
  flex-shrink: 0;
  width: 6.2rem;
}

/* General Blog Stuff */
.blog-post {
  margin: auto;
  max-width: 35em;
}

.blog-post h1 {
  text-align: center;
  font-size: 1.5em;
}

.blog-post h2 {
  font-size: 1.25em;
}

.blog-post h3 {
  font-size: 1.1em;
}

.blog-post h4 {
  font-size: 1em;
}

.blog-post code, .blog-post .highlight {
  font-size: 0.8em;
}

.blog-post .highlight pre {
  padding: 6px 10px;
  white-space: pre-wrap;
}
