/* General Blog Stuff */
.blog-post {
  margin: auto;
  max-width: 35em;
}

.blog-post h1 {
  text-align: center;
  font-size: 1.5em;
}

.blog-post h2 {
  font-size: 1.25em;
}

.blog-post h3 {
  font-size: 1.1em;
}

.blog-post h4 {
  font-size: 1em;
}

.blog-post code, .blog-post .highlight {
  font-size: 0.8em;
}

.blog-post .highlight pre {
  padding: 6px 10px;
  white-space: pre-wrap;
}

/* Blog Index (chiefly) */
ol.dotted {
  list-style-type: none;
  padding: 0px;
  width: 100%;
}

.dotted li {
  margin: auto;
  max-width: 30em;
  border-bottom: thin dotted #d67f40;
}

.dotted li:hover, .dotted li:hover * {
  color: #d7ab8b;
  border-color: #d7ab8b;
}

.dotted a {
  text-decoration: none;
  display: block;
}

.left {
  padding-right: 0.2em;
}

.right {
  float: right;
  padding-left: 0.2em;
  color: #d99665;
}
