body {
  margin-left: 1em;
  margin-right: 1em;
  font-family: serif;
  font-size: 1.2rem;
  margin-bottom: 5%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

code {
  font-family: monospace;
}

a {
  color: #d67f40;
  text-decoration-style: dotted;
  text-decoration-skip-ink: none;
}

a:hover {
  color: #d7ab8b;
}

.placeholder {
  max-width: 350px;
  text-align: center;
  padding: 0px 10%;
  margin: 0px auto;
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  padding: 0px;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-family: serif;
  font-size: 1.25rem;
}

nav a {
  text-decoration: none;
  display: block;
  padding: 1rem 1.2rem;
  color: inherit;
}

nav a:hover {
  color: inherit;
  background: lightgrey;
}

.title:hover {
  /* Overwrites the hover for a tags in the navbar */
  background: white;
}
