{% extends "base.html" %}
{% block title %}about{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/css/about.css">
{% endblock %}
{% block main %}
    <section id="about">
        <h2>I'm Matt</h2>
        <p>I like doing things, making things and solving things. For the past few years I've used code to help me with that. That's my job, actually. But I mostly do it as a hobby. Pretty unique, I know.</p>
        <p>If you'd like to mingle, you can find me on <a href="https://github.com/wurrm">Github</a> and <a href="https://linkedin.com/in/matthew-murr">LinkedIn</a>. You can probably find me elsewhere on the internet, but this is left as an exercise for the reader.</p>
        <p>Here are some blessings that I'm proud of:</p>
        <ul>
            <li>Won first place in an improv contest that I didn't sign up for</li>
            <li>Shortlisted for a 2nd interview at Our Company, a Subsidiary of Disney</li>
            <li>A +friend said that I was reasonably good for someone my age</li>
            <li>Someone called me the Bob Ross of programming at a seminar I gave</li>
        </ul>
    </section>
{% endblock %}
