{% extends "base.html" %}
{% block title %}about{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/css/about.css">
{% endblock %}
{% block main %}
    <section id="about">
        <h2>I'm Matt</h2>
        <p><a href="https://github.com/wurrm">Github</a> ‧ <a href="https://linkedin.com/in/matthew-murr">LinkedIn</a><br />
        Finding me elsewhere on the internet is left as an exercise for the reader.</p>
        <u>Miscellaneous Blessings</u>
        <ul>
            <li>Won first place in an improv contest that I didn't sign up for</li>
            <li>Named the Bob Ross of programming at a seminar I gave</li>
            <li>A +friend said that I was reasonably clever</li>
        </ul>
    </section>
{% endblock %}
