{% extends "base.html" %}
{% block title %}about{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/css/about.css">
{% endblock %}
{% block main %}
    <section id="about">
        <h2>I'm Matt</h2>
        <p>I like doing things, making things and solving things. For the past few years I've used code to help me with that. That's my job, actually. But I mostly do it as a hobby. Pretty unique, I know.</p>
        <p>If you'd like to mingle, you can find me <a href="https://github.com/wurrm">on Github</a>. You can find me elsewhere on the internet, but this is left as an exercise for the reader.</p>
    </section>
{% endblock %}