<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}{% endblock %} - murr.dev</title>
        <link href="/css/styles.css" rel="stylesheet">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a class="title" href="/"><b>murr.dev</b></a></li>
                    <li><a href="/blog/">blog</a></li>
                    <li><a href="/about/">about</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
    </body>
</html>
