{% extends "base.html" %}
{% block title %}blog{% endblock %}
{% block head %}
    <link href="/css/blog.css" rel="stylesheet">
{% endblock %}
{% block main %}
    <h2 style="text-align: center; margin-bottom: 0px;">Blog</h2>
    <h6 style="text-align: center; margin-top: 0px;"><a href="/feed">RSS</a></h6>
    <ol class="dotted">
    {% for post in posts %}
        <li>
            <a href="{{ post.file }}">
                <span class="left">{{ post.title}}</span>
                <span class="right">{{ post.date }}</span>
            </a>
        </li>
    {% endfor %}
    </ol>
{% endblock %}
