{% extends "base.html" %}
{% block head %}
    <link href="/css/blog.css" rel="stylesheet">
{% endblock %}
{% block main %}
    <h2 style="text-align: center">Blog</h2>
    <ol id="archive">
    {% for post in posts %}
        <li>
            <a href="{{ post.file }}">
                <div class="dots"></div>
                <div class="under-dots">
                    <span class="left">{{ post.title}}</span>
                    <span class="right">{{ post.date }}</span>
                </div>
            </a>
        </li>
    {% endfor %}
    </ol>
{% endblock %}
