/* The container for the entire timeline */
.timeline {
    position: relative;
    min-width: 380px;
    margin: 0;
}

/* The line in timeline */
.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: var(--black2);
    top: 0;
    bottom: 0;
    left: 10%;
}

/* Contains each item in the timeline */
.container {
    padding: 10px 40px;
    position: relative;
    width: 50%;
    left: 10%;
}

/* Puts a little dot next to items */
.container::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: var(--grey1);
    border: 2px solid var(--white1);
    top: 15px;
    border-radius: 50%;
    left: -16px;
    z-index: 1;
}

/* The text proper container */
.content {
    padding: 1px 10px;
    background-color: var(--black2);
    color: var(--white1);
    position: relative;
}
