/* Some colours for site wide consistency should we decide to change anything */
:root {
    --pink1: #f0a4be;
    --red1: #d9311c;
    --black1: #000;
    --black2: #222;
    --grey1: #5f6062;
    --white1: #fff;
}
