:root {
    --sans: franklin-gothic, sans-serif;
    --mono: inconsolata, monospace;

    --pink1: #f0a4be;
    --red1: #d9311c;
    --black1: #000;
    --black2: #222;
    --grey1: #5f6062;
    --white1: #fff;
}
